{% extends "base.twig" %}

{% block content %}

    {{post.content}}


    {% for post in posts %}

    <div class="post-teaser card card-hover">
        <div class="post__header">
            <a class="post__title" href="{{ post.link }}">{{ post.post_title }}</a>
            <span class="post__date">
                <i class="fa fa-calendar"></i>
                {{ post.post_date|date("M d, Y") }}
            </span>
        </div>
        <div class="hr hr-teal"></div>
        <p>{{ post.content|length > 250 ? post.content|striptags|slice(0, 250) ~ '...' : post.content  }}</p>
    </div>
    {% endfor %}

{% endblock %}