{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} single-project" id="post-{{post.ID}}">
			<section class="article-content clearfix">
				<h1 class="page-title">{{post.title}}</h1>
				<span class="date project__date">{{ post.project_date|date("M d, Y") }}</span>
				<div class="project__external-links">
					{% for link in post.get_field('external_links') %}
						<a class="icon-link project__external-link" href="{{ link.url }}" target="_blank">{{ link.icon }}{{ link.text }}</a>
					{% endfor %}
				</div>
				<div class="hr hr-teal"></div>
				{% if post.thumbnail %}
					<img class="project__featured-image" src="{{post.thumbnail.src}}">
				{% endif %}
				<div class="article-body">
					{{post.content}}
					
				</div>
			</section>
			{% if post.comparison_photo %}
				<section class="comparison-photos">
					{% for img in post.get_field('comparison_photo') %}
						{% filter shortcodes %}
							[image-comparator left="{{img.left_photo}}" right="{{img.right_photo}}" classes="hover"]
						{% endfilter %}
					{% endfor %}
				</section>
			{% endif %}

			<div class="hr hr-teal"></div>
    		<!-- comment box -->
            <section class="comment-box">
                <!-- comments -->
                <div class="comments">
                    {% if post.comment_count %}
                        <h3>Comments</h3>
                        {% for cmt in post.comments %}
                            {% include "comment.twig" with {comment:cmt} %}
                        {% endfor %}
					{% else %}
						<h3>No Comments Yet</h3>
                    {% endif %}
                </div>

                {% if post.comment_status == "closed" %}
					<p>Comments for this post are closed</p>
				{% else %}
                    <!-- comment form -->
                    {% include "comment-form.twig" %}
                {% endif %}
            </section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}