{% extends "tease.twig" %}

{% block content %}
    <a href="{{post.link}}">
        <div class="project__featured-image" style="background-image: url({{post.thumbnail.src}})"></div>
        <div class="project__details">
            <h3 class="project__title">
                {{post.title}}
                <span class="date project__date">{{ post.project_date|date("M d, Y") }}</span>
            </h3>
            <div name="project__categories">
                {% for category in post.terms('project_categories') %}
                    {% include 'category.twig' %}
                {% endfor %}
            </div>
            <ul class="project__keywords">
                {% for keyword in post.terms('project_keywords') %}
                    <li class="keyword project__keyword">{{keyword}}</li>
                {% endfor %}
            </ul>
        </div>
    </a>
{% endblock %}